<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Description Goes Here">
    <title>Document</title>
</head>
<body>
<h1>Video Request</h1>
<form action="" method="POST">
    <!--        <div>-->
    <!--            <label for="request">Request</label>-->
    <!--            <textarea name="request" id="request" cols="30" rows="10"></textarea>-->
    <!--        </div>-->
    <div>
        <label for="qualification">qualification</label>
        <input type="text" id="qualification" name="qualification">
    </div>

    <div>
        <label for="high">high</label>
        <input type="text" id="high" name="high">
    </div>

    <div>
        <label for="low">low</label>
        <input type="text" id="low" name="low">
    </div>

    <div>
        <label for="points">points</label>
        <input type="text" id="points" name="points">
    </div>

    <div>
        <label for="miss">miss</label>
        <input type="text" id="miss" name="miss">
    </div>


    <button type="submit">Submit</button>
</form>
</body>
</html>